<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <title>{% block title %}{% endblock %} - Flaskr</title> -->
    <title>&#127850; Plat-nner</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    {{ bootstrap.load_css() }}
  </head>
  <body data-bs-theme="dark" class="overflow-hidden" style="height: 100vh">
    <div class="d-flex flex-column h-100">
      {% include 'navbar.html' %} {% for message in get_flashed_messages() %}
      <div class="flash alert alert-warning">{{ message }}</div>
      {% endfor %}
      <div
        class="d-flex justfiy-self-stretch flex-grow-1 overflow-auto container-fluid my-1"
      >
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
