{% extends 'base.html' %} {% block content %}
<div class="d-flex w-100 h-100 gap-1">
  {% for event in events %}
  <div class="card event-card flex-shrink-0">
    <div class="card-body">
      <h5 class="card-title">{{ event[0].date.strftime("%d.%m.%y") }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ event[0].name }}</h6>

      <ul class="list-group">
        {% for post in event[0].event_posts %}
        <li
          class="list-group-item px-1 {{ 'attendees' if post.get_attendees()  else 'no-attendees' }}"
        >
          <div class="d-flex justify-content-between">
            <div class="d-flex flex-column justify-content-between" style="min-width: 0;">
              <div class="post-name">
                {{ post.name }} {{ post.get_time_string() }}
              </div>
              {% if post.get_attendees() %}
              <div class="attendees-list ps-3 w-100">
                {% for attendee in post.get_attendees() %}
                <div attendee-id="{{ attendee.id }}" class="attendee-container">
                  <div class="attendee-functions-container hidden">
                    <form
                      class="attendee-delete-form h-100 w-100"
                      action="/post/{{post.id}}/attendee/{{attendee.id}}/destroy"
                    >
                      {{ deleteAttendeeForm.csrf_token }}
                      <button
                        title="Supprimer"
                        type="submit"
                        class="attendee-delete-icon-container"
                      >
                        <i class="bi-x attendee-delete-icon bg-danger"></i>
                      </button>
                    </form>
                  </div>
                  <div class="attendee-name">{{ attendee.name }}</div>
                </div>
                {% endfor %}
              </div>
              {% endif %}
            </div>
            <div class="d-flex align-items-center">
              <div class="toggle-add-attendee-form-button">
                <i class="bi-plus-circle toggle-add-attendee-form-icon bg-danger"></i>
              </div>
            </div>
          </div>
          <div class="addAttendeeFormContainer ps-3 w-100 hidden">
            <form
              class="addAttendeeForm"
              action="/post/{{post.id}}/addAttendee"
              method="POST"
            >
              {{ addAttendeeForm.csrf_token }}
              <div class="input-group">
                {{ addAttendeeForm.name(class="form-control attendee-name-input",
                autocomplete="off") }}
                <button type="submit" class="add-attendee-button btn btn-outline-secondary p-0 d-flex justify-content-center align-items-center">
                  <div class="add-attendee-icon-container">
                  <i class="add-attendee-icon bi-plus d-block h-100 w-100"></i>
                </div>
                </button>
              </div>
            </form>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}
</div>
<script src="{{ url_for('static', filename='addAttendee.js') }}"></script>
<script src="{{ url_for('static', filename='deleteAttendee.js') }}"></script>
<script src="{{ url_for('static', filename='toggleAttendeeFunctionsVisibility.js') }}"></script>
{% endblock %}
