{% extends 'base.html' %}
<!-- {% block header %}
  <h1>{% block title %}Login{% endblock %}</h1>
{% endblock %} -->

{% block content %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Login</h5>
    <form action="" name="" id="loginForm" method="POST">
      {{ form.csrf_token }}
      <div>
        {{ form.username.label(class="form-label") }} {{
        form.username(class="form-control") }}
      </div>
      <div>
        {{ form.password.label(class="form-label") }} {{
        form.password(class="form-control") }}
      </div>
      <div>{{ form.submit() }}</div>
    </form>
    {% if form.message %}
    <div>Message : {{ form.message }}</div>
    {% endif %}
  </div>
</div>
{% endblock %}
