.hidden {
  display: none !important;
}

.bi-plus-circle {
  /* Boostrap plus circle icon */
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus-circle' viewBox='0 0 16 16'%3E%3Cpath d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16'/%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4'/%3E%3C/svg%3E");
  mask-size: contain;
  mask-repeat: no-repeat;
}

.bi-plus {
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4'/%3E%3C/svg%3E");
  mask-size: contain;
  mask-repeat: no-repeat;
}

.bi-x {
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-x' viewBox='0 0 16 16'%3E%3Cpath d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708'/%3E%3C/svg%3E");
  mask-size: contain;
  mask-repeat: no-repeat;
}

.bi-three-dots {
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-three-dots' viewBox='0 0 16 16'%3E%3Cpath d='M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3'/%3E%3C/svg%3E");
  mask-size: contain;
  mask-repeat: no-repeat;
}

.event-card,
#new-event-card {
  width: 15rem;
  height: fit-content !important;
}

.toggle-add-attendee-form-button {
  height: 1.2rem !important;
  width: 1.2rem !important;
  /* max-height: 2rem !important; */
  /* max-width: 2rem !important; */
  flex-shrink: 0;
}
.toggle-add-attendee-form-button:hover {
  cursor: pointer;
}
.toggle-add-attendee-form-button:hover .toggle-add-attendee-form-icon {
  background-color: var(--bs-success-text-emphasis) !important;
}

.toggle-add-attendee-form-icon {
  display: block;
  width: 100%;
  height: 100%;
}

.add-attendee-button {
  width: 30px;
}

.add-attendee-icon-container {
  height: 25px;
  width: 25px;
}
.add-attendee-icon {
  height: 100%;
  width: 100%;
  background-color: var(--bs-secondary);
}
.add-attendee-button:hover .add-attendee-icon {
  background-color: var(--bs-secondary-text-emphasis);
}

.attendees {
  padding-top: 0.25rem !important;
}
.attendees .post-title-container {
  /* writing-mode: sideways-lr;
  text-align: center; */
  font-size: 0.75rem;
}

.attendees-list > div {
  width: fit-content;
}

.attendee-container {
  position: relative;
  max-width: 100%;
}

.attendee-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.attendee-functions-container {
  position: absolute;
  left: 0;
  /* height: 20px;
  width: 20px; */
  display: block;
  transform: translate(-100%, 0);
}

.attendee-delete-button,
.post-delete-button,
.event-delete-button,
.toggle-post-functions-button,
.toggle-event-functions-button {
  border: none;
  background-color: unset;
  padding: 0;
  height: 100%;
  width: 100%;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attendee-delete-button,
.post-delete-button,
.event-delete-button {
  height: 20px;
  width: 20px;
}

.toggle-post-functions-button {
  height: 1.5em;
  aspect-ratio: 1;
}
.toggle-event-functions-button {
  height: 1em;
  aspect-ratio: 1;
}

.toggle-post-functions-button:hover .toggle-post-functions-icon,
.toggle-event-functions-button:hover .toggle-event-functions-icon {
  background-color: var(--bs-secondary-text-emphasis) !important;
}

.attendee-delete-icon,
.post-delete-icon,
.event-delete-icon,
.toggle-post-functions-icon,
.toggle-event-functions-icon {
  display: block;
  height: 100%;
  width: 100%;
}

.attendee-delete-button:hover,
.post-delete-button:hover,
.event-delete-button:hover {
  border: 1px solid var(--bs-danger-border-subtle);
  border-radius: 50%;
}

.attendee-name.selected {
  /* background-color: var(--bs-dark-border-subtle); */
  /* border: var(--bs-light-border-subtle); */
  /* border-radius: 5px; */
  /* padding: 2px 5px; */
  color: var(--bs-success-text-emphasis);
  text-decoration: underline;
}

.post-container,
.event-card {
  position: relative;
}

.post-container.selected,
.event-card.selected {
  outline: 3px solid var(--bs-success-text-emphasis);
  z-index: 10;
  outline-offset: -1px;
}

.post-functions-container {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0, -100%);
}

.event-functions-container {
  position: absolute;
  top: 0;
  right: 0;
}
